/* modificamos los selectores generales */
body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: Montserrat, arial;
}
p {
    color: rgb(41, 39, 39);
    text-align: justify;
    line-height: 1.3;
    font-weight: 400;
}
h1, h2 {
    text-align: center;
    font-weight: 400;
}
ol, ul, li {
    line-height: 1.3;
    font-weight: 400;
}
ul {
    padding: 0 0 7px 0;
}
li {
    padding: 0 0 7px 0;
}
td, th {
    padding: 6px;
}
form {
    line-height: 1.5;
    text-transform: uppercase;
}
input {
    width: 95%;
    height: 25px;
}
table {
    line-height: 1.3;
    font-weight: 400;
}
a {
    font-weight: 400;
}
.header-principal {
    width: 100%;
    text-align: center;
    font-size: 10px;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 0;
}
.header-principal {
    margin: 0;
    position: sticky;
    top: 0px;
}

.header-principal__nav {
    text-align: center;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
    box-sizing: border-box;
}
.nav__item {
    display: inline-block;
    border: 2px solid azure;
    border-radius: 8px;
    margin-left: 20px;
    padding: 0;
}
.nav__link {
    color: azure;
    text-decoration: none;
    display: inline-block;
    padding: 0 30px;
    font-size: 16px;
    margin-bottom: 0;
}

.header-principal__nav, .header-principal {
    background: url("../img/conny-schneider-xuTJZ7uD7PI-unsplash.jpg") center / cover fixed #151C47;
}
footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(transparent 30%, #788ca1);
}
/*Modificamos parrafos*/
.parrafos {
    max-width: 600px;
    width: 90%;
    margin: auto;
}
.pSobreMi {
    margin: auto;
    padding: 0 0 30px 0;
}
.header-principal > .header-principal__title {
    font-weight: bold;
    color: azure;
    font-size: 4em;
    margin: 0;
}
/* Modificando Nav */

.nav__item, .nav__link {
    transition: color, border, font-size 0.3s;
}

.nav__item:hover {
    border: 2px solid  rgb(42, 83, 164);
}
.nav__link:hover {
    color:  rgb(42, 83, 164);
    font-size: 18px;
}

/*Sobre mi*/
.sobreMi {
    margin: 0;
}
.pTarjetaPresentacion {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    margin-top: 1vh;
    text-shadow: 0 0 12px #0007;
}
.boxImagenRonald {
    background: linear-gradient(transparent 55% , #151C47);
    margin: 0;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 425px;
    border-radius: 7px;
    border-top: 6px solid #151C47;
    border-left: 2px solid #151C47;
    border-right: 2px solid #151C47;
    box-shadow: 0 0 50px 0 #0007;
}
.imagenRonald {
    width: 300px;
    height: 350px;
    border-radius: 7px 7px 0 0;
}
/* modificamos dentro de la listas */
.aprendido {
    color: #205C5A;
    margin: 0 0 0 31.5%;
    text-shadow: 0 0 12px #184746;
    width: 300px;
}
.pListaAprendida {
    text-align: center;
    margin: 10px;
    width: 73%;
    color: #205C5A;
    text-shadow: 0 0 1px #184746;
    font-weight: bold;
}
.pListaPorAprender {
    text-align: center;
    margin: 10px;
    width: 78%;
    text-shadow: 0 0 1px #0007;
    font-weight: bold;
}
.listaOrdenadaSM {
    margin: 0 0 0 29%;
}
/*Modificamos tablas*/
.pTablaProyecto {
    font-weight: bold;
    font-size: 17px;
}
.seccionTabla {
    max-width: 600px;
    padding: 10px 0 30px 0;
    margin: auto;
    width: 90%;
}
.tabla {
    border: 2px solid black;
    width: 100%;
    box-shadow: 0 0 12px 0 #0007;
}
.columna {
    border: 2px solid black;
}
/* modificamos dentro del formulario */
.datailsFormInfoPersonal {
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    text-transform: uppercase;
    background-color: #205C5A;
    border: 4px solid #184746   ;
    border-radius: 9px;
    width: 90%;
    margin: auto;
    max-width: 600px;
    box-shadow: 0 0 15px #184746;
}
.summaryFormInfoPersonal {
    color: azure;
    margin-bottom: 15px;
    margin-top: 10px;
    text-shadow: 0 0 12px #0007;
}
.summaryFormInfoPersonal:hover {
    text-decoration: underline;
    font-size: 25px;
}
.formularioInfoPersonal {
    background-color: #205C5A;
    width: 95%;
    margin: auto;
    max-width: 600px;
}
.fieldsetFormInfoPersonal {
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #124543;
    margin-bottom: 20px;
}
.divForm {
    padding: 0 0 10px 10px;
}
.inputInfoPersonal {
    font-weight: bold;
    padding: 0 0 5px 5px;
    border-radius: 8px;
    border: none;
}
.textareaInfoPersonal {
    font-weight: bold;
    font-family: inherit;
    min-width: 95%;
    min-height: 150px;
    padding: 5px 0 0 5px;
    border-radius: 8px;
    border: none;
    resize: none;
}
.labelFormInfoPersonal {
    font-weight: bold;
    color: azure;
    line-height: 2;
    text-shadow: 0 0 12px #0007;
}
.legendFormulario {
    text-align: justify;
    font-weight: bold;
    color: azure;
    padding: 0 0 0 10px;
    text-shadow: 0 0 12px #0007;
    margin-bottom: 5px;
    margin-top: 10px;
}
.divMotivoLabel {
    text-align: center;
}
.divMotivo {
    text-align: center;
    margin: auto;
}
.labelMotivoForm {
    color: azure;
    font-weight: bold;
    text-shadow: 0 0 12px #0007;
}
.motivoForm {
    font-weight: bold;
    border-radius: 6px;
    margin: auto;
    width: 70%;
    height: 30px;
}
.labelComentarioForm {
    font-weight: bold;
    color: azure;
    text-shadow: 0 0 12px #0007;
    margin-left: 16px;
}
.enviarForm {
    text-transform: uppercase;
    width: 100px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
}
.divEnviarForm {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
/* modificamos el footer */
.infoFinal {
    font-style: oblique;
    font-weight: 700;
    margin: 5px 0;
    text-align: center;
    color: white;
    text-shadow: 0 0 12px #151C47;
}
.gitHub {
    margin: 5px 0;
    color: rgb(42, 83, 164);
    text-decoration: none;
    text-shadow: 0 0 12px #151C47;
}
.gitHub:hover {
    text-decoration: underline;
    font-size: 18px;
}